name: retag and deploy

on:
  push:
  pull_request:
    branches:
    - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        image-name: ["pyhf/pyhf"]
        image-tag: ["latest", "v0.3.1"]
        new-image-registry: ["hub.opensciencegrid.org"]

    steps:

    - name: Login to DockerHub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Login to OSG Harbor Container Registry
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v2
      with:
        registry: hub.opensciencegrid.org
        username: ${{ secrets.OSG_HARBOR_USERNAME }}
        password: ${{ secrets.OSG_HARBOR_TOKEN }}

    - name: Pull images
      run: |
        docker pull ${{ matrix.image-name }}:${{ matrix.image-tag }}
        docker images ${{ matrix.image-name }}

    - name: Tag images
      run: |
        docker tag ${{ matrix.image-name }}:${{ matrix.image-tag }} ${{ matrix.new-image-registry}}/${{ matrix.image-name }}:${{ matrix.image-tag }}
        docker images ${{ matrix.new-image-registry}}/${{ matrix.image-name }}

    - name: Push images
      run: |
        docker push ${{ matrix.new-image-registry}}/${{ matrix.image-name }}
